@model GLifeApplication.Models.FoodRecord

@{
    ViewBag.Title = "Delete";
}

@Scripts.Render("~/jQuery/Home/Record.js")

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">刪除記錄</h3>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                {

                    <div class="form-group">
                        @Html.LabelFor(model => model.FoodName, new
                   {
                       @class = "col-xs-4 form-label"
                   })
                        <div class="col-xs-8">
                           @Html.DisplayTextFor(model =>model.FoodName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FoodAmount, new
                   {
                       @class = "col-xs-4 form-label"
                   })
                        <div class="col-xs-8">
                            @Html.DisplayTextFor(model => model.FoodAmount)
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-primary" id="deleteBtn" type="Button" value="刪除" />
            <input class="btn btn-default" data-dismiss="modal" type="button" value="cancel" />
        </div>
    </div>
</div>



