@model GLifeApplication.Models.Article

<style>
    ul.ui-autocomplete {
        z-index: 1100;
    }
</style>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">新增食物記錄</h3>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                @using (Ajax.BeginForm("AddArticle", "Home",
new AjaxOptions
{
    HttpMethod = "POST"
,
    OnSuccess = "onArticleModalCreateSuccess"
}, new { }))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, new
                   {
                       @class = "col-xs-4 form-label"
                   })
                        <div class="col-xs-8">
                            @User.Identity.Name
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CreateDate, new
                   {
                       @class = "col-xs-4 form-label"
                   })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.CreateDate, new { @class = "form-control", @id = "DatepickerForCreate" })
                            @Html.ValidationMessageFor(model => model.CreateDate, null, new { @class = "label label-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Content, new
                   {
                       @class = "col-xs-4 form-label"
                   })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.Content, new { @class = "form-control", @id = "txtArticleContent", @name = "ArticleContent" })
                            @Html.ValidationMessageFor(model => model.Content, null, new { @class = "label label-danger" })
                        </div>
                    </div>
                }

            </div>
        </div>

       <div class="modal-footer">
            <input class="btn btn-primary" id="CreateArticleBtn" type="Button" value="新增動態" />
            <input class="btn btn-default" data-dismiss="modal" type="button" value="cancel" />
        </div>

    </div>
</div>

<script type="text/javascript">

    //show da
    $('#DatepickerForCreate').datepicker({
        zIndexOffset: 1040
    });
</script>



